TELEGRAM_BOT_TOKEN=seu_token_aqui
MASTER_ID=seu_id_aqui
ADMIN_IDS=["id_admin"]
ACCESS_PASSWORD=sua_senha
API_KEY=sua_chave_openrouter
API_URL=https://openrouter.ai/api/v1
MODEL_NAME=qwen/qwen-2.5-7b-instruct
